.certSlideShow {
    width: 100%;
    max-width: 900px; /* control max width */
    margin: auto; /* center align */
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    padding: 20px;
    grid-gap: 20px;
    background-color: #1F221B;
    min-height: 100vh;
    color: #D7D7D7;
}

.project{
    width: 100%;
    padding: 30px;
    height: fit-content;
    border: 2px solid #E6AF2E;
    border-radius: 40px;
}

.ProjectName{
    font-size: x-large;
}

.details{
    text-align: justify;
    font-size: smaller;
}

.badge{
    background-color: #E6AF2E;
    color: #1F221B;
    padding: 4px 10px;
    text-align: center; 
    border-radius: 50px;
}

.skills{
    padding: 20px 0px 0px 10px;;
    font-size: small;
    font-weight: 600;
}

.skills ul li {
    display: inline-block;
    padding: 5px;
}

@media(max-width: 950px) and (min-width: 450px) {
    .container{
    grid-template-columns: repeat(2, 1fr);
    }
    .ProjectName{
        font-size: larger;
    }

    .details{
        font-size: small;
    }

    .badge{
        font-size: xx-small;
    }

    .project{
        padding: 20px;  
    }

    .skills{
        width: 100%;
        padding: 2px;
        font-size: small;
        font-weight: 600;
    }
    
    .skills ul li {
        display: inline-block;
        padding: 5px;
        margin: 0px;
    }
}



.carousel-wrapper {
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    justify-content: space-around;
    transform: translateX(0%);
    align-items: center;
    width: 100% !important;
    }



.carousel-slide {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide img {
    max-height: 80%;
    max-width: 80%;
    object-fit: contain;
}




@media(max-width: 450px) {
    .container{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .project{
        padding: 15px;
    }

    .ProjectName{
        font-size: medium;
    }

    .details{
        font-size: x-small;
    }

    .skills ul li {
        display: inline-block;
        padding: 5px;
        margin: 0px;
    }

    .skills{
        padding: 5px;
        font-size: xx-small;    
    }
}